@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    transition: background 0.25s ease-in-out;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

*::selection {
    @apply bg-myGreen
}

*::-moz-selection {
    @apply bg-myGreen
}

a:hover {
    @apply text-myGreen
}

.dev {
    @apply border-2 border-red-500;
}
